h1{
    margin-top: 0;
}
.card-item{
    display: flex;
    border-left: 3px solid rgba(0, 0, 255, 0.651);
    border-bottom: 1px solid grey;
    box-shadow:   3px 3px 7px 1px rgba(128, 128, 128, 0.733);
    margin: 0 1rem 1rem;
    margin-bottom: 1rem;
}
.card-completed{
    text-decoration: line-through;
    margin: 0 1vh;
}
.card-not-complete{
    text-decoration: none;
    margin: 0 1vh;
}
.check-div{
    display: flex;
}

@media only screen and (min-width: 300px)and (max-width:501px){
    h1{
        font-size: 1.5rem;
    }
    .check-div{
        margin: 1vh 2% ;
    }
}
@media only screen and (min-width: 502px)and (max-width:768px){
    .card-item{
        margin: 0 15% 1rem;
    }
    .check-div{
        margin: 1vh 5% ;
    }
}
@media only screen and (min-width: 769px){
    .card-item{
        margin: 0 25% 1rem;
    }
    .check-div{
        margin: 1vh 5% ;
    }
}