.todo-name{
    font-size: 2rem;
    font-family: 'Kaushan Script', cursive;
    background-color: rgb(158, 156, 156);
    padding: 2vh 0;
    padding-left: 4vh;
}

@media only screen and (min-width: 502px){
    .todo-name{
        font-size: 3rem;
    }

}
